<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Status</title>
    <meta name='description' content='none'>
    <meta name='author' content='none'>
		<link rel='stylesheet' href='public/css/main.ui.css' />
	</head>
  <body style='text-align: center;'>

    <div>
      <div class='page-title'>Device Status</div>
			<div class='section-area section-wide'>
				<div class='section-title'>Status Message</div>
				<div id='status-message'>Getting status...</div>
			</div>
			</br>
      <div>

				<!-- SERIAL PORT SECTION -->
				<div class='section-area section-narrow'>
					<div class='section-title'>Serial Port</div>
					<div>
            <% let portName = settings.serial.port.slice(settings.serial.port.lastIndexOf('/')+1); %>
						<span class='section-item-name'>Port:</span><span class='section-item-value'><%= portName %></span>
					</div>
					<div>
						<span class='section-item-name'>Baud:</span><span class='section-item-value'><%= settings.serial.baudrate %></span>
					</div>
				</div>
        </br>

				<!-- API SECTION -->
				<div class='section-area section-narrow'>
					<div class='section-title'>API</div>
					<div>
						<span class='section-item-name'>Target:</span><span class='section-item-value'><%= settings.api.target.toUpperCase() %></span>
					</div>
					<% if (settings.api.target == 'thingspeak') { %>
						<div>
							<span class='section-item-name'>Channel:</span><span class='section-item-value'><%= settings.api.channel %></span>
						</div>
						<div>
							<span class='section-item-name'>API Key:</span><span class='section-item-value'><%= settings.api.key %></span>
						</div>
					<% } else { %>
						<div>
							<span class='section-item-name'>Vessel ID:</span><span><%= settings.api.vin %></span>
						</div>
					<% } %>
					<div>
						<span class='section-item-name'>Updates:</span><span class='section-item-value'>Every <%= settings.api.frequency %>  minutes</span>
					</div>
				</div>
				</br>

				<!-- INCOMING DATA SECTION -->
				<div class='section-area section-wider'>
					<div class='section-title'>GPS Input Stream</div>
					<span id='last-received'>Getting GPS input data...</span>
				</div>
      </div>
      <hr>

		<!-- BUTTONS -->
    <div>
      <a href='/configure'><button class='btn btn-normal'>Configure Device</button></a>
      <button onclick='confirmRestart()' class='btn btn-warn'>Restart Device</button>
    </div>

		<!-- RESTART TIME COUNTER -->
		<div>
			</br>
			<div>This device is scheduled to restart automatically in <span style='font-weight: bold;' id='time-left-to-restart'>---</span> seconds.</div>
		</div>

		<!-- SCRIPT -->
    <script type='text/javascript'>
			var confirmRestart = () => {
				if (window.confirm('Confirm device restart.')) {
					window.location = '/restart/confirmed';
				}
			}
      var getDeviceStatus = () => {
        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
          if (this.readyState === 4 && this.status < 400){
            let status = JSON.parse(this.responseText);
            let lastRecieved = document.getElementById('last-received');
						let timeToRestart = document.getElementById('time-left-to-restart');
            let message = document.getElementById('status-message');
            lastRecieved.innerHTML = status.lastReceived;
						timeToRestart.innerHTML = Math.floor(status.nextRestart);
            message.innerHTML = status.statusMessage;
					}
        }
        xhr.open('GET', '/status')
        xhr.send();
      }
      setInterval(getDeviceStatus, 1000);
    </script>

  </body>
</html>
